
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}

.container {
    width: 90%;
}

.center-y {
    vertical-align:middle;
}

.form-control {
    color: black !important;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: #f5f5f5;
}

/***********************    Bootstrap Modals Custom    *************************/

.modal-lg  {
    width: 70%;
}

.modal-header {
    border-radius: 6px 6px 6px 6px !important;
}

.modal-content {
    border-radius: 6px 6px 6px 6px !important;
}

.panel-header {
    border-radius: 6px 6px 0px 0px;
}

.modal-header.active {
    background-color: #f5f5f5;
}

.modal-header.success {
    background-color: #dff0d8;
}
  
.modal-header.warning {
    background-color: #fcf8e3;
}

.modal-header.danger {
    background-color: #f2dede;
}

.modal-header.info {
    background-color: #d9edf7;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/***********************    Icons Custom    *************************/

.help {
    font-size: 17px;
    margin-left: 0px;
}

/*.help + .glyphicon {*/
.help.glyphicon {
    top: -3px;
}

/***********************    Popover Custom    *************************/

.popover {
    max-width: 552px !important;
}

.popover-title {
    background-color: rgb(217, 237, 247);
    border-color: rgb(188, 232, 241);
    color: rgb(49, 112, 143);
}

/***********************    Miscelanea Custom    *************************/

h4.custom {
    margin-left: 20px; 
    margin-bottom: -20px;
}

h4.custom + div.panel-default{
    margin: 20px
}

.nomargin {
    margin: 0px;
}

.red {
    color: red !important;
    background-color: yellow !important;
}

hr.custom {
    height: 3px;
    color: #d1cdc6;
    background: #d1cdc6;
    color: #8b8884;
    background: #8b8884;    
    font-size: 0;
    border: 0;
    margin-left: -12px;
    margin-right: -12px;
}

.cke_bottom {
    height: 1px !important;
    padding-bottom: 0px !important;
    /* display: none !important; */
}

/***********************    Bootstrap Panels Custom    *************************/

.panel-custom {
    background-color: rgb(236, 235, 232); /* #D4D0C8 #E9E4DC */
}

.panel-custom2 {
    border-color: rgb(156, 133, 98) !important;
}

.panel-heading-custom {
    background-color:#9C8562;
}

.panel-heading {
    padding: 5px 10px;
}

.panel-heading-custom {
    background-color: rgb(196,182,160);
    background-image: linear-gradient(to bottom, rgb(156, 133, 98) 0%, rgb(185,170,145) 100%);
    background-image: linear-gradient(to bottom, rgb(156, 133, 98) 0%, rgb(185,170,145) 100%) !important;
    background-image: linear-gradient(to bottom, rgb(185,170,145) 0%, rgb(196,182,160) 100%) !important;
    background-image: linear-gradient(to bottom, rgb(196,182,160) 0%, rgb(225,218,207) 100%) !important;
    background-repeat: repeat-x;
}

.panel-body {
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.panel-body h3.custom {
    border-bottom: 1px solid #A1A1A1;
}

.panel-body-custom {
    padding-bottom:15px; 
    background-color: rgb(233, 228, 220);
    /*rgba(255, 255, 255, 0.55) rgb(247, 250, 253) rgb(254, 253, 249) #fbfbfb #F6F6F6 #E9E9E9*/
}

.panel-body {
    padding: 0px 15px 0px;
}

.paneldiff {
    color:black !important; 
    padding: 10px;
}

.paneldiffoutput {
    color:black !important; 
    padding: 10px;
}


/***********************    Bootstrap Buttons Custom    *************************/

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-custom {
    cursor: default;
}

.btn-custom-hover2 {
    background-color: rgb(177, 171, 156);
}

.btn-custom-hover:hover {
    color: #000;
    /*background-color: #3276b1;
    border-color: #285e8e;*/
    background-color: rgb(177, 171, 156);
    border-color: rgb(143, 133, 112);
    /*border-color: rgb(143, 133, 112);*/
}

.btn-custom-hover:active,
.btn-custom-hover.active,
.open .dropdown-toggle.btn-custom-hover {
    background-image: none;
}


/***********************    Bootstrap Callout Custom    *************************/

.bs-callout {
    margin: 20px 0px;
    padding: 20px;
    border-left: 3px solid rgb(238, 238, 238);
}

.bs-callout-warning {
    background-color: rgb(252, 248, 242);
    border-color: rgb(240, 173, 78);
    margin: 10px 0px;
    padding: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.bs-callout-warning h4 {
    color: rgb(240, 173, 78);
}


.bs-callout-info {
    background-color: rgb(244, 248, 250);
    border-color: rgb(91, 192, 222);
}

.bs-callout-info h4 {
    color: rgb(91, 192, 222);
    color: #31708f;
}
.bs-callout h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.bs-callout-info h3 {
    color: rgb(91, 192, 222);
    color: #31708f;
}
.bs-callout h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.bs-callout-danger {
    /*background-color: rgb(252, 248, 242);
    border-color: rgb(240, 173, 78);
    margin: 10px 0px;
    padding: 5px;
    padding-left: 10px;
    padding-top: 10px;*/
}

.bs-callout-danger h4 {
    /*color: rgb(240, 173, 78);*/
}

.bs-callout-danger {
    background-color: #FCF2F2;
    border-color: #DFB5B4;
    border-color: #d9534f;
}

.bs-callout-danger h4, .bs-callout-danger h3,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}

.highlight {
    background-color: yellow;
}


/***********************    Datatables Custom    *************************/

table.dataTable thead .sorting_asc {
    background: #E8E8E8 url(../images/sort_asc.png) no-repeat center right !important;
    /* background: #E7E7E7 url(../images/sort_asc.png) no-repeat center right; */
    /* background: #EAEAEA url(../images/sort_asc.png) no-repeat center right; */
}

table.dataTable thead .sorting_desc {
    background: #E8E8E8 url(../images/sort_desc.png) no-repeat center right !important;
}

.dataTables_length label {
    font-weight: normal;
}

.dataTables_length select {
    font-weight: normal;
}

.dataTables_length button.selectpicker {
    margin-top: 5px;
}

.dataTables_filter input {
    margin-left: 0em !important;
    margin-right: 10em;
    height: 40px;
    font-weight: normal;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0em;
}

.filter_label {
    margin-right: 10px;
}

#table_demo, #table_demo_admin {
    border-top: 1px solid black;
}


/***********************    Navigation Custom    *************************/

.navbar-custom {
    background-color: #5d7785;
    border-color: #4f6671;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#76919f), to(#5d7785));
    background-image: -webkit-linear-gradient(top, #76919f, 0%, #5d7785, 100%);
    background-image: -moz-linear-gradient(top, #76919f 0%, #5d7785 100%);
    background-image: linear-gradient(to bottom, #76919f 0%, #5d7785 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff76919f', endColorstr='#ff5d7785', GradientType=0);
}
.navbar-custom .navbar-brand {
    color: #dedede;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #c5c5c5;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #dedede;
}
.navbar-custom .navbar-nav > li:last-child > a {
    border-right: 1px solid #4f6671;
}
.navbar-custom .navbar-nav > li > a {
    color: #dedede;
    border-left: 1px solid #4f6671;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #4f6671;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4f6671), to(#648090));
    background-image: -webkit-linear-gradient(top, #4f6671, 0%, #648090, 100%);
    background-image: -moz-linear-gradient(top, #4f6671 0%, #648090 100%);
    background-image: linear-gradient(to bottom, #4f6671 0%, #648090 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f6671', endColorstr='#ff648090', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #4e6470;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #4f6671;
    color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #dedede;
    border-bottom-color: #dedede;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #dedede;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #4f6671;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
  }
}
.navbar-custom .navbar-link {
    color: #dedede;
}
.navbar-custom .navbar-link:hover {
    color: #ffffff;
}

/****************************************************************************/
/***********************    SUPER ADMINISTRATION    *************************/
/****************************************************************************/

.main-container {
    padding-bottom: 30px;
}

.main-container2 {
    padding-bottom: 30px;
}

.containercustom {
    width: 95%;
}

.customcol {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(86, 61, 124, 0.15);
    background-color: rgba(86, 61, 124, 0.05);
    background-color: rgba(167, 199, 215, 0.2);
    
    border: 1px solid rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(244, 248, 250, 0.5);
    border: 1px solid rgba(167, 199, 215, 0.5);
}

.customcol2 {
    padding-top: 15px;
    padding-bottom: 0px;
}

tr.customselected {
    color: green !important;
}